<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- do not add line number output , it will slow down the execution speed -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--声明自定义的Appender-->
    <appender name="XXL-JOB" class="com.teoan.job.auto.core.log.XxlJobLogAppender"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="XXL-JOB"/>
    </root>
</configuration>